[submodule "third_party/mattpocock-skills"]
	path = third_party/mattpocock-skills
	url = https://github.com/mattpocock/skills
[submodule "third_party/superpowers"]
	path = third_party/superpowers
	url = https://github.com/obra/superpowers
[submodule "third_party/gstack"]
	path = third_party/gstack
	url = https://github.com/garrytan/gstack
[submodule "third_party/compound-engineering"]
	path = third_party/compound-engineering
	url = https://github.com/EveryInc/compound-engineering-plugin
[submodule "third_party/khazix-skills"]
	path = third_party/khazix-skills
	url = https://github.com/KKKKhazix/khazix-skills
[submodule "third_party/baoyu-skills"]
	path = third_party/baoyu-skills
	url = https://github.com/JimLiu/baoyu-skills
[submodule "third_party/anthropics-skills"]
	path = third_party/anthropics-skills
	url = https://github.com/anthropics/skills
